@use "@angular/material" as mat;
:root {
  --primary-50: #e2e5ef;
  --primary-100: #b6bdd8;
  --primary-200: #8692be;
  --primary-300: #5666a3;
  --primary-400: #314590;
  --primary-500: #0d247c;
  --primary-600: #0b2074;
  --primary-700: #091b69;
  --primary-800: #07165f;
  --primary-900: #030d4c;
  --primary-a100: #808aff;
  --primary-a200: #4d5bff;
  --primary-a400: #1a2dff;
  --primary-a700: #0015ff;
}
